{% extends 'index.html' %}
{% block title %} Summarized {% endblock%}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="card">
    <h1 class="text-center">Summary</h1>
    <ul>
        {% for sentence in summary_sentences %}
        <li>{{sentence}}</li>
        {% endfor %}
    </ul>
    <a href="/home" class="btn btn-primary btn-sm m-2" style="width: 100px;">Go back</a>
</div>
{% endblock %}